.writer-container {
    max-width: 800px;
    margin: auto;
    background: #1a1a1a;
    padding: 30px;
    border-radius: 15px;
}
    
textarea#mailContent {
    background: #111;
    color: #00ff00; /* Retro hacker/kod yazım havası */
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #333;
}